.App {
  text-align: center;
  max-height: max-content;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Header component CSS */


/* Homepage Specifc CSS */
.HomeSignLog {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* component styling for all pages */
.mainContainer
{
  background-color: #8AA06B;
  background-image: url('./../Images/BackgroundIMG.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-height: max-content;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.inputButtonWhite
{
  background-color:#ffffff;
  height:60px;
  width: 250px;
  border-radius:65px;
  margin-top: 15px;
  border:2px solid #707070;
}

.inputButtonWhiteHover
{
  background-color:#f0f0f0;
  height:60px;
  width: 250px;
  border-radius:65px;
  margin-top: 15px;
  border:2px solid #707070;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
