.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Set container height to full viewport height */
  }

.units {
    width: 80vw; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    padding: 10px; /* Add padding to create space between content and border */
    background-color: rgb(161, 230, 161); /* Set background color to light green */
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}