




.fullPage{
    width: 100vw;
    height: 100vh;
}


.stickyHeader   
    {
        border: 10px solid #a81d1d;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        
        background-color: #272323;
        padding: 10px 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        
    
    }
.paramBox
    {
        display: flex;
        width: 100%;
        top: 140px;
        background-color: #1a8d67;
        position: relative;
        flex-direction: column;

    }

.topTitle{
    flex: 1;
    width: 100%;
}

.SearchBar{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    

    width: 25%;
    margin-right: 30%;
    margin-left: 1%;    
    justify-content: left;
    background-color: whitesmoke;
    padding: 10px;
    border: 3px solid #272323;
    width: 10%;
    margin-right: 30%;
    margin-left: 5%;
}

.sortButton{
    
    justify-content: end;
    justify-content: right;
    background-color: whitesmoke;
    margin-left: 40%;
    margin-right: 5%;
    width: 10%;

    border: 3px solid #272323;
}

.filters{
    display: flex;
    justify-content: left;

}

.results{
    margin-top: 8%;
    padding: 5px;
    border: 3px solid black;
    border-radius: 10px 20px 10px 15px;
    display: flex;
    justify-content: center;
}

.FullresultCardSaved{
    width: 98%;
    padding: 5px;
    
    margin-block: 1%;
    border: 3px solid black;
    height: 20%;
    display: flex;
    flex-direction: row;
    border-radius: 10px 20px 10px 15px;


    flex-wrap: nowrap;


    justify-content: center;

}

.imageSaved{
    margin-inline: 5%;
    border: 3px solid black !important;
    flex: 1;



}

.titleFaxSaved{
    margin-inline: 5%;

    display: flex;
    flex-direction: column;


}

.titleSaved{
    height: 50%;
    width: 100%;
    align-items: center;
    display: flex;

}

.faxSaved{
    display: flex;
    flex-direction: row;
    height: 25%;
    width: 100%;
    align-items: stretch;
    border-radius: 10px 20px 10px 15px;

}

.faxCellSaved{
    background-color: antiquewhite;

    width: 32%;
    border: 3px solid black;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;

}

.buttonsSaved{
    margin-inline: 5%;
    display: flex;
    flex-direction: row;
    margin-block: 3%;
    justify-content: center;

}


.results{
    margin-top: 10%;
    padding: 5px;
    border: 3px solid black;
}

.resultCell{
    padding: 5px;
    border: 3px solid green;
    display: flex;
}
.resultImage{
    padding: 5px;

    margin-left: 10%;
    height: 200px;
    width: 450px;
    background-color: yellow;
}

.resultsKeyFax{

    padding: 5px;
    background-color: white;

    margin-left: 10%;
    height: 100px;
    width: 600px;

}

.resultsButtons{
    margin-left: 20%;
    padding: 5px;
    width: 300px;
    display: flex;
}

.resultsB_view{
    padding: 5px;
    margin-right: 10%;
    height: 45px;
    width: 45px;
    background-color: green;
}

.resultsB_edit{
    margin-right: 10%;
    padding: 5px;
    height: 45px;
    width: 45px;
    background-color: brown;
}

.resultsB_delete{
    margin-right: 10%;
    padding: 5px;
    height: 45px;
    width: 45px;
    background-color: red;

}

