.container {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    /* height: 220vh; */
    height: min-content;
    /* Set container height to full viewport height */
    flex-direction: column;
}

.mybox {
    width: 80vw;
    /* Adjust width as needed */
    padding: 10px;
    /* Add padding to create space between content and border */
    background-color: rgb(164, 205, 167);
    /* Set background color to light green */
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.column {
    display: flex;
}

.box_small {
    width: 40vw;
    /* Adjust width as needed */
    padding: 10px;
    /* Add padding to create space between content and border */
    background-color: rgb(164, 205, 167);
    /* Set background color to light green */
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin: 20px;
}

.unit_text {
    margin: -10px 20px 0;
    /* Adjust the margin-top value to move the text up */
    position: relative;
    top: -5px;
    /* Adjust the value to move the text up or down */
    font-size: 22px;
}

.text {
    margin: 10px 20px;
    text-align: left;
}

.notify_box {
    /* Add padding to create space between content and border */
    display: flex;
    align-items: center;
}

.checkbox {
    transform: scale(2);
}

.facts {
    margin: -10px 20px 0;
    /* Adjust the margin-top value to move the text up */
    position: relative;
    /* Adjust the value to move the text up or down */
    font-size: 22px;

}

.table50{
    width: 100%;
    flex-direction: column;
    display: flex;
    /* border: 3px solid orange; */
    /* justify-content: flex-end; */
    /* padding-left: 100px; */
}

.tableLine{
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;

}

.IngrName{
    width:52%;
    border: 1px solid black;
}

.percentage{
    width: 24%;
    border: 1px solid black;
}
.equals{
    width: 24%;
    border: 1px solid black;
}