body {
  margin: 0;
  height: max-content;
  font-family:'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

/*   background-color: #8AA06B !important;
  background-image: url('./Images/BackgroundIMG.png'); 
  background-size: 275%;
  background-repeat: repeat;
  background-position:  center;
  max-height: max-content; */
  background-color: #8AA06B !important;
  background-image: url('./Images/BackgroundIMG.png'); 
  background-size: 1270px;
  background-repeat: repeat;
  background-position: center;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
